body {
    /*padding-top: 40px;
    padding-bottom: 10px;
    background-image:url(../Images/HOME1.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center top;
    background-color:rgba(255,255,255,0.9);*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
