body {
    background-image: url('../Images/fonts/fondo-de-pantalla-degradado-azul.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.body_login {
    background-image: url('../Images/fonts/Fondo Login Web.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding-left: 10%;
    padding-right: 10px;
    padding-top: 10%;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow: hidden;
}

.login {
    width: 40%;
    position: relative;
    /* top: 119%; */
    left: 30%;
    margin: -18px 0px 0px -236px;
    background: rgba(222, 207, 207, 0.2);
    padding: 20px 30px;
    border-radius: 18px;
    box-shadow: 7px 9px 20px 8px rgba(0, 0, 0, 0.2), inset 0px 0px 79px 0px rgba(0, 0, 0, 0);
}

.input_login {
    border-radius: 18px !important;
    width: 90%;
    height: 27px;
}

.label_login {
    font-size: 13px;
    font-weight: bolder;
}

.h_login {
    font-size: 30px;
    margin-bottom: 15%;
    font-family: cursive;
    text-align: center;
    font-weight: bolder;
}

.button_login {
    background-color: #3bb3e0;
    border-radius: 20px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 10px 20px;
    padding-right: 50px;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)) );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

    .button_login:active {
        top: 3px;
        background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
        background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(62,184,229)), color-stop(1, rgb(44,160,202)) );
        -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
        -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
        -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
        box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    }

    .button_login::before {
        background-color: #2591b4;
        background-image: url(../Images/right_arrow.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -9px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
        -moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
        -o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
        box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    }

    .button_login:active::before {
        top: 50%;
        margin-top: -12px;
        -webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
        -moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
        -o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
        box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
    }


.Text_manual {
    width: 40%;
    position: relative;
    color: #FFF;
    left: 78%;
    margin: -110px 0px 0px -264px;
    background: rgb(59, 180, 225);
    padding: 20px 30px;
    border-radius: 100px;
    box-shadow: 7px 9px 20px 8px rgba(0, 0, 0, 0.2), inset 0px 0px 79px 0px rgba(0, 0, 0, 0);
}


/*******************************************MENU*******************************************************/

.wrap {
    display: inline-block;
    -webkit-box-shadow: 0 0 0px #fff;
    -moz-box-shadow: 0 0 0px #fff;
    box-shadow: 0 0 0px #fff;
    margin-top: 2%;
}

/* a little "umph" */
/*.decor {
    background: #6EAF8D;
    background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
    background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
    background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
    background: linear-gradient(left, white 50%, #6EAF8D 50%);
    background-size: 50px 25%;
    padding: 2px;
    display: block;
}*/

a {
    text-decoration: none;
    color: #fff !important;
    display: block;
}

ul {
    list-style: none;
    position: relative;
    text-align: left;
}

li {
    float: left;
}

/* clear'n floats */
ul:after {
    clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
    position: relative;
    background: #2B2B2B;
    background-image: -webkit-linear-gradient(bottom, #0469b3 7%, #0469b3 100%);
    background-image: -moz-linear-gradient(bottom, #0469b3 7%, #0469b3 100%);
    background-image: -o-linear-gradient(bottom, #0469b3 7%, #0469b3 100%);
    background-image: linear-gradient(bottom, #0469b3 7%, #0469b3 100%);
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 20px 5px #fff;
    -moz-box-shadow: 0px 0px 20px 5px #fff;
    box-shadow: 0px 0px 20px 5px #fff;
    border-radius: 15px;
}

/* prime */
ul.primary li a {
    display: block;
    padding: 20px 30px;
    border-radius: 15px;
    border-right: 2px solid #FFF;
}

ul.primary li:last-child a {
    /*border-right: none;*/
}

ul.primary li a:hover {
    color: #000;
}

/* subs */
ul.sub {
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 20px 5px #ffffff;
    /*width: 35%;*/
    display: none;
}

    ul.sub li {
        float: none;
        margin: 0;
    }

        ul.sub li a {
            border-bottom: 1px dotted #ccc;
            border-right: none;
            color: #ffffff !important;
            padding: 15px 30px;
        }

        ul.sub li:last-child a {
            border-bottom: none;
        }

        ul.sub li a:hover {
            color: #000;
            background: #eeeeee;
        }

/* sub display*/
ul.primary li:hover ul {
    display: block;
    background: #0469b3;
}

/* keeps the tab background white */
ul.primary li:hover a {
    background: #0469b3;
    color: #666;
    text-shadow: none;
}

ul.primary li:hover > a {
    color: #000;
}

@media only screen and (max-width: 600px) {
    .decor {
        padding: 3px;
    }

    .wrap {
        width: 100%;
        margin-top: 0px;
    }

    li {
        float: none;
    }

    ul.primary li:hover a {
        background: none;
        color: #8B8B8B;
        text-shadow: 1px 1px #000;
    }

    ul.primary li:hover ul {
        display: block;
        background: #272727;
        color: #fff;
    }

    ul.sub {
        display: block;
        position: static;
        box-shadow: none;
        width: 100%;
    }

        ul.sub li a {
            background: #272727;
            border: none;
            color: #8B8B8B;
        }

            ul.sub li a:hover {
                color: #ccc;
                background: none;
            }
}

/*******************************************FIN MENU**********************************************************/
