@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Quienes Somos";
}

<div class="container">
    <div class="row" style="margin-top:20%">
        <div class="col-md-4">
            <div class="QuienesSomos">
                <h4 class="h4_QS">Quiénes somos</h4>
                <p></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="QuienesSomos">
                <h4 class="h4_QS">Misión</h4>
                <p></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="QuienesSomos">
                <h4 class="h4_QS">Visión</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>

