<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <style>
        h1 {
            color: #555;
            font-size: 6.5em;
            font-weight: bolder;
            margin-top: 21%;
        }

        p {
            line-height: 1.2;
            margin-left: 51.5%;
            font-size: 24px;
            width: 20%;
            margin-top: -10.5%;
        }

        .vl {
            border-left: 4px solid #3310cd;
            height: 250px;
            position: absolute;
            left: 50%;
            top: 20%;
        }

        .cod_error {
            width: 50%;
            text-align: right;
            margin-left: -1%;
        }
    </style>
</head>
<body>
    <div class="cod_error">
        <h1>404</h1>
    </div>

    <div class="vl"></div>
    <p>Sorry, but the page you were trying to view does not exist.</p>
</body>
</html>