@model IEnumerable<RacePuntos.Datos.personas>

@{
  ViewBag.Title = "Informe Usuarios";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<p>

</p>
<div class="container">
    <div class="col-md-12 Puntos">
        <div class="row">

            <table id="LisUsuarios" class="table table-responsive cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Vehiculo</th>
                        <th>Placa</th>
                        <th>Puntos Redimidos</th>
                        <th>Total Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1032465418</td>
                        <td>Logan</td>
                        <td>SON-577</td>
                        <td>12344</td>
                        <td>500</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

